<!DOCTYPE html>
<html id="home" lang="en">
<head>
<title>FreeBSD License</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0.7">
<!-- for HTML5 el styling -->
<script>document.createElement('article');document.createElement('footer');</script>
<link rel="stylesheet" href="/themes/{{ theme }}.css">
</head>
<body>
<article>
{% if gravatar is defined and email is defined and gravatar == True -%}
<img id="gravatar" src="https://www.gravatar.com/avatar/{{ email_md5 }}" />
{%- endif %}
<h1>FreeBSD License</h1>
<p>Copyright &copy; {{ year }} {% if url is defined %}<a href="{{ url }}">{% endif %}{{ copyright }}{% if url is defined %}</a>{% endif %}{% if email is defined %} &lt;<a href="mailto:{{ email }}">{{ email }}</a>&gt;{% endif %}<br/>
All rights reserved.</p>

<p>Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:
<ol>
    <li>Redistributions of source code must retain the above copyright notice, this
      list of conditions and the following disclaimer.</li>
     <li>Redistributions in binary form must reproduce the above copyright notice,
      this list of conditions and the following disclaimer in the documentation
      and/or other materials provided with the distribution.</li>
</ol>
</p>

<p>THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</p>

<p>The views and conclusions contained in the software and documentation are those
of the authors and should not be interpreted as representing official policies,
either expressed or implied, of the project.</p>

</article>
<footer>
<p><a href="https://github.com/angrychimp/code-license">Create your own online license for your software projects.</a></p>
</footer>
</body>
</html>
