<!DOCTYPE html>
<html id="home" lang="en">
<head>
<title>MIT License</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0.7">
<!-- for HTML5 el styling -->
<script>document.createElement('article');document.createElement('footer');</script>
<link rel="stylesheet" href="/themes/{{ theme }}.css">
</head>
<body>
<article>
{% if gravatar is defined and email is defined and gravatar == True -%}
{% if url is defined %}<a href="{{ url }}">{% endif -%}
<img src="https://www.gravatar.com/avatar/{{ email_md5 }}" />
{%- if url is defined %}</a>{% endif %}
{%- endif %}
<h1>The MIT License (MIT)</h1>
<p>Copyright &copy; {{ year }} {% if url is defined %}<a href="{{ url }}">{% endif %}{{ copyright }}{% if url is defined %}</a>{% endif %}{% if email is defined %} &lt;<a href="mailto:{{ email }}">{{ email }}</a>&gt;{% endif %}</p>

<p>Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.</p>
</article>
<footer>
<p><a href="https://github.com/angrychimp/code-license">Create your own online license for your software projects.</a></p>
</footer>
</body>
</html>
